In [1]:
#defining a set
"""
pythons built in set tpye has the following characteristics:
    - sets are unordered
    - set elements are unique. Duplicate elements are not allowed
    - A set itself may be modified, but the elements contained in the set
    must be of a immutable type
"""

'\npythons built in set tpye has the following characteristics:\n    - sets are unordered\n    - set elements are unique. Duplicate elements are not allowed\n    - A set itself may be modified, but the elements contained in the set\n    must be of a immutable type\n'

In [2]:
# s = set(<iter>)

x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [3]:
tuple_to_set = set(('foo', 'bar', 'baz', 'foo', 'qux'))

In [4]:
tuple_to_set

{'bar', 'baz', 'foo', 'qux'}

In [5]:
string_to_set = 'quux'
print(list(string_to_set))
print(set(string_to_set))

['q', 'u', 'u', 'x']
{'q', 'x', 'u'}

In [7]:
# a set can also be defined with curly braces({}):
# x = {<obj>, <obj>....,<obj>}
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

{'bar', 'baz', 'foo', 'qux'}

In [8]:
#you can define an empty set, however the only way to do this is with set()
#empty curly braces defines an empty dict
x = set()
type(x)

set

In [10]:
x = {}
type(x)

dict

In [11]:
#an empty set is falsy in a boolean context
x = set()
bool(x)

False

In [12]:
x or 1

1

In [13]:
x and 1

set()

In [14]:
# len() returns the number of elements in the set
# the in and not in operators can be used to test for membership
x = {'foo', 'bar', 'baz'}

In [15]:
len(x)

3

In [16]:
'bar' in x

True

In [17]:
'qux' in x

False

In [18]:
#operating on a set
# sets cannot be indexed
#using the pipe | operator to create a union between two sets

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [19]:
#using the .union() method to create a union between two sets

x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [20]:
# compute the intersetions between two sets with .intersetion() method
#and the & operator

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)

{'baz'}

In [21]:
x1 & x2

{'baz'}

In [22]:
"""
x1.difference(x2) and x1 - x2 return the set of all elements that are in x1 
but not in x2
"""
x1.difference(x2)

{'bar', 'foo'}

In [23]:
x1 - x2

{'bar', 'foo'}

In [25]:
"""
x1.symetric_difference(x2) and x1 ^ x2 return all the elements in either x1 and x2
but not in both
"""
x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [26]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [27]:
"""
x1.isdisjoint(x2) determines whether or not two sets have any elements in common
"""

'\nx1.isdisjoint(x2) determines whether or not two sets have any elements in common\n'

In [29]:
x1.isdisjoint(x2)

False

In [30]:
x2 - {'baz'}

{'quux', 'qux'}

In [31]:
x1.isdisjoint(x2 - {'baz'})

True

In [ ]:
"""
x1.issubset(x2)

in set theory, a set x1 is considered a subset of another set x2 if every element of x1 is in x2
x1.issubset(x2) and x1<= x2 return True if x1 is a subset of x2
"""

In [32]:
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

True

In [33]:
x2 = {'baz', 'qux', 'quux'}
x1 <= x2

False

In [35]:
# a set is considered to be a subset of itself

x = {1,2,3,4,5}
x.issubset(x)

True

In [36]:
"""
proper subset is the same as subset, except that
the sets cant be identical.
a set x1 is considered a proper subset of another 
set x2 if every element of x1 is in x2, and x1 and x2 are not equal/

x1 < x2 returns True is x1 is a proper subset of x2
"""
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}

x1 < x2

True

In [37]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}

In [38]:
x1 < x2

False

In [39]:
x1 < x1

False

In [40]:
"""
x1.issuperset(x2)
a superset is the reverse of a subset. a set x1 is considered a superset of another set x2
if x1 contains every element of x2
"""
x1 = {'foo', 'bar', 'baz'}
x1.issuperset({'foo', 'bar'})

True

In [41]:
x2 = {'baz', 'qux', 'quux'}
x1.issuperset(x2)

False

In [42]:
"""
a proper superset is the same as a superset, except that the sets cant be identical.
a set x1 is considered a proper superset of another set x2 if x1 contains every element of x2, and x1 and x2 are not equal

"""
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1 > x2

True

In [63]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'boo', 'baz'}
x1 > x2

False

In [64]:
#modify a set by union and assignment
# use the |= and update
x1 |= x2

In [65]:
x1

{'bar', 'baz', 'boo', 'foo'}

In [66]:
x1.update(['gianni', 'crivello'])

In [67]:
x1

{'bar', 'baz', 'boo', 'crivello', 'foo', 'gianni'}

In [68]:
"""
intersection update:
retaining only elements found in both x1 and x2
x1.intersection(x2) and x1 &= x2 
"""
x1 &= x2
x1.intersection_update(x2)
x1

{'baz', 'boo', 'foo'}

In [69]:
"""
x1.difference_update(x2) and x1 -= x2 update x1, removing elements
found in x2
"""
x1 -= x2
x1

set()

In [72]:
"""
x1.symetric_difference_update(x2)
 and x1 ^= x2 update x1 retaining elements found in either x1 or x2"""


x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 ^= x2
x1

{'bar', 'qux'}

In [73]:
x1.symmetric_difference_update(['qux', 'corge'])

In [74]:
x1

{'bar', 'corge'}

In [75]:
"""
aside from the augmented operators above, python supports several additional methods
that modify sets.
x.add(<elm>)
"""

x = {'foo', 'baz', 'bat'}

x.add('qux')

In [76]:
x

{'bat', 'baz', 'foo', 'qux'}

In [ ]:
# x.remove(<elem>)

In [77]:
x.remove('baz')

In [78]:
x

{'bat', 'foo', 'qux'}

In [79]:
"""
x.discard(<elem>) also removes <elem> from x. However, if <elem> is not in x, this method quietly does nothing instead of raising an exception:
"""


x.discard('zpp')

In [80]:
x

{'bat', 'foo', 'qux'}

In [81]:
"""
use x.pop() to remove a random element from a set
"""

x.pop()

'qux'

In [82]:
x.pop()

'bat'

In [83]:
x.pop()

'foo'

In [84]:
x.pop()

KeyError: 'pop from an empty set'

In [85]:
"""
x.clear() clears a set

"""

'\n\n'

In [86]:
x = {'foo', 'dog', 'yes', 'ohhhh'}

In [87]:
x

{'dog', 'foo', 'ohhhh', 'yes'}

In [88]:
x.clear()

In [89]:
x

set()

In [90]:
"""
frozensets are the same as sets but immutable
"""

x = frozenset(['foo', 'bar', 'baz'])

In [91]:
x

frozenset({'bar', 'baz', 'foo'})

In [92]:
len(x)

3

In [93]:
x.add('hellp')

AttributeError: 'frozenset' object has no attribute 'add'